<div class="tinder" data-controller="swipe">

  <div class="tinder--cards">
    <% Element.all.each do |element| %>
      <div class="tinder--card" data-swipe-target="card" data-id="<%= element.id %>">
        <div class="tinder--status">
          <i class="fa-solid fa-xmark"></i>
          <i class="fa fa-heart"></i>
        </div>
        <img src="https://placeimg.com/600/300/people">
        <h3><%= element.name %></h3>
        <p><%= element.description %></p>
      </div>
    <% end %>
  </div>

  <div class="tinder--buttons">
    <button id="nope" data-swipe-target="nopeBtn">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <button id="love" data-swipe-target="likeBtn">
      <i class="fa fa-heart"></i>
    </button>
  </div>

</div>
